<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gzyz.Allmode.dao.PaperDao">

    <select id="queryAllPapers" resultType="gzyz.Allmode.pojo.Paper" parameterType="string">
        <!--select * from exam_paper where user_id=#{value};-->
        select * from exam_paper where user_id=#{value} and is_delete=0
    </select>

    <insert id="addPaper" parameterType="gzyz.Allmode.pojo.Paper">
        <!--insert into exam_paper(p_title,pc_id,p_tol_score,p_start_time,p_end_time,p_free,p_rand_num,p_status)
        values (#{pTitle},#{pcId},#{pTolScore},#{pStartTime},#{pEndTime},#{pFree},#{pRandNum},#{pStatus})
        where user_id=#{userId};-->
        insert into exam_paper
        values
        (#{pId},#{pTitle},#{pcId},#{pTolScore},#{pStartTime},#{pEndTime},#{pFree},#{pStatus},#{pRandNum},#{isDelete},#{createTime},#{userId});
    </insert>

    <update id="delOnePaper" parameterType="string">
    update exam_paper set is_delete=1 where p_id=#{value};
    </update>

    <update id="delManyPaper">
        update exam_paper set is_delete=1 where p_id in
        <foreach collection="pIds" open="(" close=")" separator="," item="p_id">
            #{p_id}
        </foreach>
    </update>

    <select id="queryPaperBypid" parameterType="string" resultType="gzyz.Allmode.pojo.Paper">
    select * from exam_paper where p_id=#{value};
    </select>


    <update id="editPaperById" parameterType="gzyz.Allmode.pojo.Paper">
    <!--update  exam_paper set p_title=#{pTitle} and pc_id=#{pcId} and p_start_time=#{pStartTime} and
    p_end_time=#{pEndTime} and p_free=#{pFree} and p_status=#{pStatus} where p_id=#{pId};-->
        update  exam_paper set p_title=#{pTitle} ,pc_id=#{pcId} ,p_start_time=#{pStartTime},
        p_end_time=#{pEndTime} ,p_free=#{pFree}, p_status=#{pStatus}
        <if test="pTolScore!=0">
            ,p_tol_score=#{pTolScore}
        </if>
        where p_id=#{pId}
    </update>


    <select id="queryAllQuesByPid" parameterType="string" resultType="map">
        select q.ques_id quesId,q.ques_type quesType,q.cour_id courId,q.ques_title quesTitle,
        q.ques_sel_a quesSelA,q.ques_sel_b quesSelB,q.ques_sel_c quesSelC,q.ques_sel_d quesSelD,
        q.ques_ans quesAns,q.ques_score quesScore,q.ques_img quesImg,q.create_time createTime,pq.pq_id pqId
         from exam_question q left join exam_papques pq on q.q_id=pq.q_id where pq.p_id=#{value};
    </select>

    <insert id="addOneQuestion" parameterType="gzyz.Allmode.pojo.PapQues">
        insert into exam_papques(pq_id,p_id,ques_id,is_delete,create_time,user_id) values(#{pqId},#{pId},#{quesId},0,#{createTime},#{userId});
    </insert>

    <insert id="addManyQuestion">
        insert into exam_papques(p_id,ques_id) values
        <foreach collection="list" item="pq" separator=",">
            (#{pq.pId},#{pq.quesId})
        </foreach>
    </insert>

    <update id="delQuestion">
        update exam_papques set is_delete=1 where p_id=#{pId} and ques_id in
        <foreach collection="quesIds" item="quesId" open="(" close=")" separator=",">
            #{quesId}
        </foreach>
    </update>

    <!--public int queryByRandNum(Paper paper);-->
    <select id="queryByRandNum" parameterType="string" resultType="int">
        select count(*) from exam_paper where p_id=#{value};
    </select>

    <!-- public double querySumScore(String pId);-->
    <select id="querySumScore" parameterType="string" resultType="double">
        select count(a.ques_score) from (
            select exam_papques.pq_id,exam_papques.p_id,exam_papques.ques_id,exam_question.ques_score from exam_papques LEFT JOIN exam_question on exam_papques.ques_id=exam.exam_papques.ques_id
        )as a
        where a.p_id=#{value};
    </select>
</mapper>